$def with (content)

<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<link rel="icon" href="static/favicon.ico">
	<title>Gothons From Planet Percal #25</title>
	<!-- Bootstrap links -->
	<link href="static/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen, projection">
	<script src="static/bootstrap.js"></script>
	<script src="static/modal.js"></script>
	<script src="static/bootstrap.min.js"></script>
	<!-- custom css -->
	<link href="static/custom.css" rel="stylesheet" type="text/css" media="screen, projection">
</head>

<body>

<div class="container">

$:content

</div>

<!-- static footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Python Powered - Salman Saif</p>
  </div>
</footer>
</body>
</html>